<div class="container-fluid">
    <h4>Controls</h4>
    <input id="roverip" type="text" class="form-control" placeholder="Rover IP"><hr>
    <div class="stats">
        <div class="row">
            <div class="col-md-6">
                <span>Latitude:</span>
            </div>
            <div class="col-md-6">
                <span id="latitude"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>Longitude:</span>
            </div>
            <div class="col-md-6">
                <span id="longitude"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>Heading:</span>
            </div>
            <div class="col-md-6">
                <span id="heading"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="waypoints">
        <div class="row">
            <div class="col-md-6">
                <input id="tf1" type="text" class="form-control" placeholder="Latitude">
            </div>
            <div class="col-md-6">
                <input id="tf2" type="text" class="form-control" placeholder="Longitude">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="tf3" type="text" class="form-control" placeholder="Latitude">
            </div>
            <div class="col-md-6">
                <input id="tf4" type="text" class="form-control" placeholder="Longitude">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="tf5" type="text" class="form-control" placeholder="Latitude">
            </div>
            <div class="col-md-6">
                <input id="tf6" type="text" class="form-control" placeholder="Longitude">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="tf7" type="text" class="form-control" placeholder="Latitude">
            </div>
            <div class="col-md-6">
                <input id="tf8" type="text" class="form-control" placeholder="Longitude">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="tf9" type="text" class="form-control" placeholder="Latitude">
            </div>
            <div class="col-md-6">
                <input id="tf0" type="text" class="form-control" placeholder="Longitude">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button id="send" class="btn btn-positive">Send</button>
            </div>
            <div class="col-md-6">
                <button id="remove" class="btn btn-negative">Remove</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="controls">
        <p>
            Extra features
        </p>
    </div>
    <hr>
    <div class="compass">
        <div class="arrow" id="Needle"></div>
        <div class="disc" id="compassDiscImg"></div>
    </div>
</div>